acronym_info = "Short name of the dataset, which is used as the unique identifier. E.g., CESNET-TLS-Year22"
acronym = "CESNET-QUIC22"
acronym_aliases_info = "Additional alias for the Dataset Acronym (e.g. CESNET-TLS-Year22-XS). Used to filter the different subsection of the original dataset"
acronym_aliases = "CESNET-QUIC22-XS"
title_info = "Full title of the dataset. E.g., CESNET-TLS-Year22"
title = ""
paper_title_info = "Full title of the original paper with the dataset"
paper_title = "CESNET-QUIC22: A large one-month QUIC network traffic dataset from backbone lines"
authors = "Jan Luxemburk"
description_info = "High-level description of the dataset. E.g., TLS capture from CESNET2 backbone network over one year (2022). The capture was done using high-speed monitoring probes at the perimeter of CESNET2 network. This dataset provides realistic characteristics of traffic originating from various web browsers, operating systems, mobile devices, desktop machines, and both HTTP/1.1 and HTTP/2 protocols."
description = "The dataset consists of network flows describing encrypted QUIC communications from CESNET backbone network. Flows were created using ipfixprobe flow exporter and are extended with packet metadata sequences, packet histograms, and with fields extracted from the QUIC Initial Packet, which is the first packet of the QUIC connection handshake. The extracted handshake fields are the Server Name Indication (SNI) domain, the used version of the QUIC protocol, and the user agent string that is available in a subset of QUIC communications."
format_info = "Dataset data format. E.g. json, csv, datazoo"
format = "datazoo"
doi_info = "DOI of this dataset"
doi = ""
origins_doi_info = "DOI of the original dataset"
origins_doi = ""
submitter = "Dominik Soukup <soukudom@cesnet.cz>"
tags_info = "Use tags to categorize the dataset (comma separated)"
tags = "network traffic classification"
url = "https://github.com/CESNET/cesnet-datazoo"
date_submitted = 2024-08-15T08:15:42.213000
versions = "CESNET-QUIC22-XS"
analysis_status = "Completed"
files = ["get-dataset.py", ".DS_Store"]
label_name = ""
filename = ""

[collection_workflow]
data_collection_tool = "ipfixprobe"
data_collection_year = 2022
feature_extraction_tool_info = "Tool that converts dataset to feature dataset. If any."
feature_extraction_tool = "ipfixprobe PSTATS, QUIC, PHISTS"
feature_extraction_tool_description = "ipfix probe generates extended flow format based on used modules in the ipfixprobe. Per Packet Information (PPI) is flattended and used as single features."
capture_config_parameters_info = "specific parameters that were used to capture dataset or feature dataset"
capture_config_parameters = ""
real_dataset_info = "Source of the dataset. E.g., real environment, testbed or generated."
real_dataset = "yes, collected from CESNET3"
annotation_info = "Description of the dataset annotation. E.g., manual, automatic"
annotation = "Automatic based on SNI field from TLS header"

[generic_info]
capture_dates_info = "When was the dataset captured/generated"
capture_dates = "31.10.2022 - 27.11.2022"
classes = 101
features = "133"
f1-score_info = "F1-score calculated based on NDVM tool [https://github.com/soukudom/NDVM]"
f1-score = "0.95"
performance_metric_info = "Perfomance metric defined by the author. Please define full specification e.g., F1-weighted"
performance_metric_name = "n/a"
performance_metric_value = "n/a"
label_info = "Name of the field with label. In case this is unsupervised dataset, type None. In case of more labels use ',' to separate"
label = "APP"
known_issues_info = """Description of indentified issues in the dataset"""
known_issues = """ """
key_observations_info = "List of known errors, drifts, limits, ... of the dataset"
key_observations = """
* Closed-world classification and evaluated trained classifiers on known classes
* Performance degraded over time, with a significant drop between weeks 2 and 3 (e.g., LightGBM accuracy dropped from 87.34% to 77.89%), Data drift caused Google certificate changes affecting patterns [1][]
* Models relying on handshake packets (first 8 packets) were more vulnerable to data drift [1][]
* Strong dependence on the 5th packet (likely containing server certificate) made models less robust [1][]
* Removing handshake packets improved stability but reduced recall scores [1][]
* One month duration may not be enough to evaluate long-term classifier behavior
* Due to the large size of the dataset, the advanced metrics are calculated from the first week (31.10.-6.11.)
* The dataset has 0 small classes, 32764 duplicated samples, 0 nan value
"""
dataset_organization_info = "Structure of the dataset. E.g., per day, per capture, per device"
dataset_organization = "per day"
dataset_documentation_info = "How to get started with the dataset. Ideally add example notebook."
dataset_documentation = "Dataset is accessible via Zenodo as zip file or Datazoo framework. Datazoo provides a convenient way to get data in python. Iteration is possible per day as author claims. Examples are part of documentation https://cesnet.github.io/cesnet-datazoo/getting_started/."
used_dataset_info = "Script to get dataset for provided analysis"
used_dataset = "get-dataset.py"
dataset_application_info = "Where the dataset has been already applied. Format: id, doi, title, [cited/used,comment/comparison]"
dataset_application = """
* [1][] 10.23919/TMA58422.2023.10199052; Encrypted traffic classification: the QUIC case; [used][]
"""
per_class_data = """{
  "62": "51486",
  "59": "47320",
  "41": "46773",
  "55": "42090",
  "50": "37624",
  "100": "37354",
  "66": "36094",
  "91": "30837",
  "49": "28581",
  "29": "25367",
  "28": "24947",
  "57": "23050",
  "17": "21785",
  "32": "21078",
  "19": "20869",
  "89": "20248",
  "61": "19027",
  "42": "13634",
  "75": "9382",
  "5": "8240",
  "43": "8135",
  "26": "8105",
  "60": "7922",
  "14": "7288",
  "13": "6464",
  "44": "6350",
  "68": "6021",
  "79": "5665",
  "47": "5325",
  "30": "4051",
  "52": "3210",
  "36": "3172",
  "48": "2634",
  "53": "2501",
  "82": "2298",
  "76": "2264",
  "67": "2227",
  "98": "2088",
  "93": "2088",
  "54": "2045",
  "27": "2029",
  "56": "1940",
  "88": "1909",
  "12": "1901",
  "78": "1892",
  "4": "1853",
  "33": "1670",
  "39": "1667",
  "15": "1655",
  "3": "1650",
  "11": "1591",
  "97": "1565",
  "99": "1558",
  "65": "1285",
  "31": "1253",
  "92": "1183",
  "96": "1174",
  "22": "1154",
  "45": "1148",
  "18": "1080",
  "58": "866",
  "70": "756",
  "64": "730",
  "72": "618",
  "73": "575",
  "90": "549",
  "37": "527",
  "20": "521",
  "10": "518",
  "46": "493",
  "25": "483",
  "38": "433",
  "8": "424",
  "77": "420",
  "85": "415",
  "51": "396",
  "35": "385",
  "21": "374",
  "94": "372",
  "40": "323",
  "87": "295",
  "81": "282",
  "63": "269",
  "9": "238",
  "74": "217",
  "24": "199",
  "0": "162",
  "86": "152",
  "1": "144",
  "16": "136",
  "84": "134",
  "80": "132",
  "7": "122",
  "69": "100",
  "83": "94",
  "95": "69",
  "23": "65",
  "34": "63",
  "71": "60",
  "2": "54",
  "6": "39"
}"""

per_data = """
{"IPT_1": "Inter Packet Time for packet 1",
"IPT_2": "Inter Packet Time for packet 2",
"IPT_3": "Inter Packet Time for packet 3",
"IPT_4": "Inter Packet Time for packet 4",
"IPT_5": "Inter Packet Time for packet 5",
"IPT_6": "Inter Packet Time for packet 6",
"IPT_7": "Inter Packet Time for packet 7",
"IPT_8": "Inter Packet Time for packet 8",
"IPT_9": "Inter Packet Time for packet 9",
"IPT_10": "Inter Packet Time for packet 10",
"IPT_11": "Inter Packet Time for packet 11",
"IPT_12": "Inter Packet Time for packet 12",
"IPT_13": "Inter Packet Time for packet 13",
"IPT_14": "Inter Packet Time for packet 14",
"IPT_15": "Inter Packet Time for packet 15",
"IPT_16": "Inter Packet Time for packet 16",
"IPT_17": "Inter Packet Time for packet 17",
"IPT_18": "Inter Packet Time for packet 18",
"IPT_19": "Inter Packet Time for packet 19",
"IPT_20": "Inter Packet Time for packet 20",
"IPT_21": "Inter Packet Time for packet 21",
"IPT_22": "Inter Packet Time for packet 22",
"IPT_23": "Inter Packet Time for packet 23",
"IPT_24": "Inter Packet Time for packet 24",
"IPT_25": "Inter Packet Time for packet 25",
"IPT_26": "Inter Packet Time for packet 26",
"IPT_27": "Inter Packet Time for packet 27",
"IPT_28": "Inter Packet Time for packet 28",
"IPT_29": "Inter Packet Time for packet 29",
"IPT_30": "Inter Packet Time for packet 30",
"DIR_1": "Packet Direction for packet 1",
"DIR_2": "Packet Direction for packet 2",
"DIR_3": "Packet Direction for packet 3",
"DIR_4": "Packet Direction for packet 4",
"DIR_5": "Packet Direction for packet 5",
"DIR_6": "Packet Direction for packet 6",
"DIR_7": "Packet Direction for packet 7",
"DIR_8": "Packet Direction for packet 8",
"DIR_9": "Packet Direction for packet 9",
"DIR_10": "Packet Direction for packet 10",
"DIR_11": "Packet Direction for packet 11",
"DIR_12": "Packet Direction for packet 12",
"DIR_13": "Packet Direction for packet 13",
"DIR_14": "Packet Direction for packet 14",
"DIR_15": "Packet Direction for packet 15",
"DIR_16": "Packet Direction for packet 16",
"DIR_17": "Packet Direction for packet 17",
"DIR_18": "Packet Direction for packet 18",
"DIR_19": "Packet Direction for packet 19",
"DIR_20": "Packet Direction for packet 20",
"DIR_21": "Packet Direction for packet 21",
"DIR_22": "Packet Direction for packet 22",
"DIR_23": "Packet Direction for packet 23",
"DIR_24": "Packet Direction for packet 24",
"DIR_25": "Packet Direction for packet 25",
"DIR_26": "Packet Direction for packet 26",
"DIR_27": "Packet Direction for packet 27",
"DIR_28": "Packet Direction for packet 28",
"DIR_29": "Packet Direction for packet 29",
"DIR_30": "Packet Direction for packet 30",
"SIZE_1": "Packet Size for packet 1",
"SIZE_2": "Packet Size for packet 2",
"SIZE_3": "Packet Size for packet 3",
"SIZE_4": "Packet Size for packet 4",
"SIZE_5": "Packet Size for packet 5",
"SIZE_6": "Packet Size for packet 6",
"SIZE_7": "Packet Size for packet 7",
"SIZE_8": "Packet Size for packet 8",
"SIZE_9": "Packet Size for packet 9",
"SIZE_10": "Packet Size for packet 10",
"SIZE_11": "Packet Size for packet 11",
"SIZE_12": "Packet Size for packet 12",
"SIZE_13": "Packet Size for packet 13",
"SIZE_14": "Packet Size for packet 14",
"SIZE_15": "Packet Size for packet 15",
"SIZE_16": "Packet Size for packet 16",
"SIZE_17": "Packet Size for packet 17",
"SIZE_18": "Packet Size for packet 18",
"SIZE_19": "Packet Size for packet 19",
"SIZE_20": "Packet Size for packet 20",
"SIZE_21": "Packet Size for packet 21",
"SIZE_22": "Packet Size for packet 22",
"SIZE_23": "Packet Size for packet 23",
"SIZE_24": "Packet Size for packet 24",
"SIZE_25": "Packet Size for packet 25",
"SIZE_26": "Packet Size for packet 26",
"SIZE_27": "Packet Size for packet 27",
"SIZE_28": "Packet Size for packet 28",
"SIZE_29": "Packet Size for packet 29",
"SIZE_30": "Packet Size for packet 30",
"BYTES": "Total number of bytes transmitted from client to server within the flow.",
"BYTES_REV": "Total number of bytes transmitted from server to client within the flow.",
"PACKETS": "Total number of packets transmitted from client to server within the flow.",
"PACKETS_REV": "Total number of packets transmitted from server to client within the flow.",
"PPI_LEN": "Total number of packets included in the Packet Pair Information (PPI) sequence.",
"PPI_ROUNDTRIPS": "Estimated number of round trips within the Packet Pair Information (PPI) sequence.",
"PPI_DURATION": "Total duration of the Packet Pair Information (PPI) sequence in seconds.",
"DURATION": "Total duration of the network flow in seconds.",
"FEND_IDLE": "Indicates if the flow ended due to an idle timeout (1 if true, 0 if false).",
"FEND_ACTIVE": "Indicates if the flow ended due to an active timeout (1 if true, 0 if false).",
"FEND_OTHER": "Indicates if the flow ended for reasons other than idle or active timeouts (1 if true, 0 if false).",
"PSIZE_BIN1": "Number of packets within the first packet size bin (client to server).",
"PSIZE_BIN2": "Number of packets within the second packet size bin (client to server).",
"PSIZE_BIN3": "Number of packets within the third packet size bin (client to server).",
"PSIZE_BIN4": "Number of packets within the fourth packet size bin (client to server).",
"PSIZE_BIN5": "Number of packets within the fifth packet size bin (client to server).",
"PSIZE_BIN6": "Number of packets within the sixth packet size bin (client to server).",
"PSIZE_BIN7": "Number of packets within the seventh packet size bin (client to server).",
"PSIZE_BIN8": "Number of packets within the eighth packet size bin (client to server).",
"PSIZE_BIN1_REV": "Number of packets within the first packet size bin (server to client).",
"PSIZE_BIN2_REV": "Number of packets within the second packet size bin (server to client).",
"PSIZE_BIN3_REV": "Number of packets within the third packet size bin (server to client).",
"PSIZE_BIN4_REV": "Number of packets within the fourth packet size bin (server to client).",
"PSIZE_BIN5_REV": "Number of packets within the fiveth packet size bin (server to client).",
"PSIZE_BIN6_REV": "Number of packets within the sixth packet size bin (server to client).",
"PSIZE_BIN7_REV": "Number of packets within the seventh packet size bin (server to client).",
"PSIZE_BIN8_REV": "Number of packets within the eighth packet size bin (server to client).",
"IPT_BIN1": "Number of inter-packet times within the first inter-packet time bin (client to server).",
"IPT_BIN2": "Number of inter-packet times within the second inter-packet time bin (client to server).",
"IPT_BIN3": "Number of inter-packet times within the third inter-packet time bin (client to server).",
"IPT_BIN4": "Number of inter-packet times within the fourth inter-packet time bin (client to server).",
"IPT_BIN5": "Number of inter-packet times within the fifth inter-packet time bin (client to server).",
"IPT_BIN6": "Number of inter-packet times within the sixth inter-packet time bin (client to server).",
"IPT_BIN7": "Number of inter-packet times within the seventh inter-packet time bin (client to server).",
"IPT_BIN8": "Number of inter-packet times within the eighth inter-packet time bin (client to server).",
"IPT_BIN1_REV": "Number of inter-packet times within the first inter-packet time bin (server to client).",
"IPT_BIN2_REV": "Number of inter-packet times within the second inter-packet time bin (server to client).",
"IPT_BIN3_REV": "Number of inter-packet times within the third inter-packet time bin (server to client).",
"IPT_BIN4_REV": "Number of inter-packet times within the fourth inter-packet time bin (server to client).",
"IPT_BIN5_REV": "Number of inter-packet times within the fifth inter-packet time bin (server to client).",
"IPT_BIN6_REV": "Number of inter-packet times within the sixth inter-packet time bin (server to client).",
"IPT_BIN7_REV": "Number of inter-packet times within the seventh inter-packet time bin (server to client).",
"IPT_BIN8_REV": "Number of inter-packet times within the eighth inter-packet time bin (server to client)."
}
"""

[dataset_drift_analysis]
drift_workflow = "Reporter-CESNET-QUIC22-XS-Katoda.ipynb"

[advanced_metrics]
description = "Advanced metrics provides more detailed evalution of provided dataset to understand its content. List and meaning of advanced metrics is the following:\n\n- Permutation Slope: Shows linkage between data and labels. The higher metric the dataset and original labels have stronger relationship\n- P Value Status: Categorical metric to detect permutation p-value rules\n- Redundancy: Shows percentage of data samples that can we randomly deleted. The higher metric the more redundant samples\n- Similarity: Shows similarity of selected (main) class with the rest of classes. If the metric is above 1, they are different. If the metric is below 1, there is big similarity between classes.\nCalculation is done based on the following tool: https://github.com/soukudom/NDVM\n Note: Due to the large size of the dataset, the advanced metrics are calculated from the first week (31.10.-6.11.)\n"
perqoda_permutation_slope = "0.7787"
p_value_status = "Good"
redundancy = "0.2421"
similarity = "1.5729"
advanced_metrics_workflow = "Metric-Showcase.ipynb"

[dataset_drift_analysis.drifts_count]
without_retraining = """{"Not Drifted": 13,"Drifted": 3}"""
retraining = """{"Not Drifted": 20, "Drifted": 1}"""

[dataset_drift_analysis.top_5]
classes_without_retraining = """
{
    "59": 19, 
    "56": 17,
    "62": 15,
    "27": 13,
    "55": 13
}"""
classes_retrainig = """
{
    "56": 16,
    "29": 16,
    "27": 14,
    "62": 14,
    "19": 12
}"""
features_without_retraining = """
{
    "DIR_2": 8,
    "SIZE_2": 8,
    "SIZE_5": 8,
    "DIR_3": 7,
    "BYTES": 0
}"""
features_retraining = """
{
    "SIZE_2": 2,
    "SIZE_5": 2,
    "DIR_2": 1,
    "DIR_3": 1,
    "BYTES": 0
}"""

[dataset_comparison]
description = "ML model comparison for this dataset"
use_case = """ n/a """
similar_dataset = """ 
 * CESNET-QUIC22.* (all childs)
"""
